LINKEDIN_API_BASE_URL=
LINKEDIN_API_TOKEN=AQWFLgxYADXtvatAZN15mn50d7cIWaMAs6DH0nBUCVbFIEzP1JrqaKdE6PBudNb2Izqaz5uFxV9c2auraeujKPqeYJUEJHVZvlLfYs7KkOuXGrNpiXOrJtPev8cCiEYc2shwHpoRjSbbnweDJMftzykjZgX4mCGVKIVV2cQwwYGULWbD1vKQ2ZVC4JOq3yRfC4pAByEeTzEV8jtDjsQFxNp87xJxmfZa2SshYPPk91-wDxQol2kJvnr7Oox61JReTCaj2_xH6vh7FO-iP92QuoJGzxRLRZmdAlJUpL7Yr2-wxd3N3Vboy8Hgev1qj44DefJXh9hngA_-QAS1RV2qIHbbJGWutQ

OUTREACH_MAX_CONNECTIONS_PER_JOB=
OUTREACH_MAX_CONNECTIONS_PER_WEEK=
OUTREACH_MAX_MESSAGES_PER_DAY=
OUTREACH_MIN_DELAY_SECONDS=
OUTREACH_MAX_DELAY_SECONDS=

MONGO_URI=
MONGO_DB=
OPENAI_API_KEY=
